[SddmGreeterTheme]
Name=BalOS Matrix
Description=Green-on-black Matrix login for BalOS
Author=BalOS Project
Copyright=(c) 2026, BalOS Project
License=GPL-3.0
Type=sddm-theme
Version=1.0
Website=https://balos.io
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=hello@balos.io
Theme-Id=balos-matrix
Theme-API=2.0
